@use '../../styles/constants/colors';

.contentsContainer {
  width: 100%;
  max-width: 1030px;
  padding: 40px;
  background: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);
}
