@use '../styles/constants/colors';

.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: colors.$FONT_BLACK;
  // background-color: colors.$GRAYD;
}
