@use '/src/styles/constants/colors';

.wrapper {
  display: flex;
}

.contentWrap {
  width: calc(100% - 320px);
  padding: 0 40px;
  background: #f6f7f8;
}

.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$GRAYD;
}
