// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY5E: #5e5e5e;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$GRAY800: #3a474e;
$GRAY300: #94a2ad;
$GRAY100: #d1d8dc;
$GRAY50: #edeff1;
$BGG: #f6f7f8;
$REDEA: #ea3a4b;
$PRIMARY: #586cf5;
$SECONDARY1: #e5f4fd;
