@use '/src/styles/constants/colors';
@use '/src/styles/base/_fonts.scss';

.dashboard {
  .subTitle {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }

  .adStatus {
    padding: 41px 40px 98px;
  }

  .chartBox {
    background: colors.$WHITE;
  }
}
