@use '/src/styles/constants/colors';
@use '/src/styles/base/_fonts.scss';

.lineChart {
  margin-top: 42px;

  .top {
    display: flex;
    justify-content: space-between;

    .buttonWrap {
      display: flex;
      margin-right: 20px;
    }
  }

  .chart {
    margin-top: 40px;
  }
}
