@use '/src/styles/constants/colors';
// @import url('/src/styles/base/_fonts.scss');

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  // padding-bottom: 25px;

  h2 {
    margin-bottom: 55px;
    font-family: Roboto, sans-serif, Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei';
    font-size: 26px;
    font-weight: 900;
  }
}
