@use '/src/styles/constants/colors';

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  max-width: 1030px;

  h2 {
    font-family: Roboto, sans-serif, Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei';
    font-size: 26px;
    font-weight: 900;
  }
}
