@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.layout {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 22%;
  height: auto;
  padding: 0 40px;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.04);
}

.logo {
  height: 150px;
  border-bottom: 1px solid colors.$BORDER_1;
  @include flexbox.flexbox(start,center)
}

.service {
  height: 193px;
  @include flexbox.flexbox(center,start);
  flex-direction: column;
  
  .selector {
    background: #FFFFFF;
    border: 1px solid colors.$BORDER_2;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    @include flexbox.flexbox(between,center);
  }
}

.title {
  color: colors.$SUB_TITLE;
  font-weight: 700;
  font-size: 12px; 
  margin-bottom: 13px;
  margin-left: 20px;
}

.addCenter {
  height: 407px;

  .category {
    .categoryItem {
      height: 60px;
      padding:20px 22px;
      border-radius: 10px;
      @include flexbox.flexbox(start,center);
      .categoryItemIcon {
        margin-right: 12px;
      }
    }
  }

}

.guide {
  height: 100px;
  background: #E5F4FD;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 40px;
  @include flexbox.flexbox(start,center);
  .guideIcon {
    background: #586CF5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    @include flexbox.flexbox(center,center);
  }

  .guideText {
    .guideTextTitle {
      font-weight: 700;
      color: #3A474E;
      margin-bottom: 7px;
    }
    .guideTextBody {
      font-size: 12px;
      color: colors.$SUB_TITLE;
    }
  }
}

.footer {
  padding:0 20px;
  font-size: 12px;
  color: colors.$SUB_TITLE;
  .footerText {
    margin-bottom: 10px;
  }
  .footerTerm {
    color: inherit;
    text-decoration: underline;
  }
}

.main {
  background: colors.$MAIN_BACKGROUND;
  padding:0 40px;
  width: 88%;
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid colors.$BORDER_1;
  @include flexbox.flexbox(end, center);

  .icon {
    width:22px;
    margin-right: 42px;
  }

  .profile {
    width: 40px;
    height: 40px;
    background: colors.$BORDER_1;
    border: 1px solid colors.$BORDER_2;
    border-radius: 50px;
    margin-right: 10px;
    @include flexbox.flexbox(center, center);
    .profileIcon {
      width: 20px;
    }
  }

  .profileName {
    color: #3A474E;
  }
}