@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #edeff1;
  @include flexbox.flexbox(end, center);

  .icon {
    position: relative;
    width: 22px;
    margin-right: 26px;
  }

  .alarm::after {
    position: absolute;
    top: -2px;
    width: 5px;
    height: 5px;
    content: '';
    background-color: colors.$REDEA;
    border-radius: 50%;
  }

  .profile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #edeff1;
    border: 1px solid #d1d8dc;
    border-radius: 50px;
    @include flexbox.flexbox(center, center);

    .profileIcon {
      width: 20px;
    }
  }

  .profileName {
    color: #3a474e;
  }
}
